
{% extends "v_base.html" %}
{% block content %}
    <div class="container">
        <p class="title">About Comark - <span>Your Community Marketplace<span></p>
        <p class="body-content">
        Comark, a portmanteau of "Community" and "Market," is a groundbreaking web application designed to transform local trading within communities. Our Community Trading Web Application is on a mission to connect buyers and sellers within the same location or community, effectively addressing the challenges faced by individuals seeking to buy or sell items locally.
        </p>
        <p class="sub-title">
        Bridging Communities
        </p>
        <p class="body-content">
        In an era of global connectivity, we believe in the power of local connections. Comark understands the value of neighbors helping neighbors, and our platform aims to bring communities closer together through commerce. We recognize that within every neighborhood, there's a wealth of talent, unique products, and services waiting to be discovered.
        </p>
        <br>
        <p> <h4>Key Objectives</h4>
        <p class="sub-title">Local Empowerment</p>
        
        <p class="body-content">
        Comark empowers individuals and small businesses by providing them with a dedicated platform to showcase their products and services. We encourage entrepreneurship at the local level, enabling individuals to become micro-entrepreneurs within their communities.
        </p>
        <p class="sub-title">Community Engagement</p>
        
        <p class="body-content">
        We foster a sense of belonging and community engagement. Through Comark, users can discover the incredible talent and offerings right in their neighborhood. We believe that strong communities are built on the foundations of trust, support, and collaboration.
        </p>
        <p class="sub-title">Convenience and Efficiency</p>
        
        <p class="body-content">
        Comark is all about making life easier for both buyers and sellers. For buyers, it means easy access to products and services within walking distance. For sellers, it means reaching out to a local audience without the complexities of global shipping.
        </p>
        <br>
        <p class="sub-title">Technology at the Core</p>
        
        <div  class="body-content">
            <p>
            Behind the scenes, Comark leverages cutting-edge technology to deliver a seamless experience:
            </P>
            <p><b>Flask: </b> Our web application is powered by Flask, a robust Python web framework.</p>
            <p><b>SQLAlchemy:  </b>We use SQLAlchemy for efficient database management. </p>
            <p><b>SQLite:  </b>The reliable SQLite database stores user and product data.</p>
            <p><b>Jinja2:  </b>Dynamic HTML templates are rendered using Jinja2.</p>
            <p><b>Flask-Bcrypt:  </b>Passwords are securely hashed and stored with Flask-Bcrypt.</p>
            <p><b>Flask-Login:  </b>User sessions and authentication are managed with Flask-Login.</p>
            <p><b>Geolocation API:  </b>We utilize a reverse geocoding API for location-based search functionality.</p>
            <p><b>HTML, CSS, and JavaScript:  </b>Our frontend is built using HTML, CSS, and JavaScript for a responsive and user-friendly interface.</p>
        </div>
        <br>
        <p class="sub-title">Join Us in Building Stronger Communities</p>
        <div  class="body-content">
            Comark envisions a world where local trading is not just a transaction but an opportunity to strengthen community bonds. We invite you to be a part of this vision. Join us today, and let's build stronger, more connected communities, one transaction at a time.
            </p>
            <p>
            Discover, connect, and thrive locally with Comark - Your Community Marketplace!
            </p>
        </div>
    </div>

{% endblock %}
    