{% extends "user_base.html" %}
{% block content %}
    <h3>Post Product</h3>

    <div>
        <form action="{{url_for('user/addPost')}}" method="post">
            <p>
                <label for="name">Product Name: </label><br />
                <input type="text" name="product_name" placeholder="Product Name" required/>
            </p>
            <p>
                <label for="category">Category: </label><br />
                <input type="text" placeholder="Category" name="category" required />
            </p>
            <p>
                <label for="price">Price: </label><br />
                <input type="password" placeholder="Price" name="price" required/>
            </p>
            <p>
                <label for="description">Description: </label><br />
                <textarea type="text" placeholder="Description" name="description" required/></textarea>
            </p>
            <p>
                <label for="image_link">Image URL: </label><br />
                <input type="text" placeholder="Phone Number" name="phone_number" required/>
            </p>
            <p>
                <input type="submit" value="Post Product" />
            </p>

        </form>
    </div>
{% endblock %}
