{% extends "v_base.html" %}
{% block content %}
  

  <!-- ======= Services Section ======= -->
  <section class="services">
    <div class="container">

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
          <div class="icon-box icon-box-pink">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a href="">Welcome to Comark</a></h4>
            <p class="description">Would you like to buy your commodities within your community without breaking a sweat?</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="icon-box icon-box-cyan">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4 class="title"><a href="">Find commodities</a></h4>
            <p class="description">Lets find you the people and the location of where you would find those commodities</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box icon-box-green">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4 class="title"><a href="">Your product is needed</a></h4>
            <p class="description">Someone within your community is definitely in need of that product you intend to sell. </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box icon-box-blue">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4 class="title"><a href="">Buy or Sell</a></h4>
            <p class="description">Simply find a buyer or a seller for your products.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->
  <section>
    <!-- Video section -->
    <div class="video">
      <!-- Place the video here -->
      <video width="100%" height="" controls>
        <source src="{{url_for('static', filename='img/intro.mp4')}}" type='video/mp4'>
      </video>
    </div>
  </section>

  <!-- ======= Why Us Section ======= -->
  <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
    <div class="container">
      {% for product in products %}
      <div class="row">
        <div class="col-sm-3 video-box p-5">
          <img src="{{ product.img_link }}" class="img-fluid" alt="">
          <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a> -->
        </div>

        <div class="col-sm-7 d-flex flex-column justify-content-center p-5">

          <div class="icon-box">
            <!-- <div class="icon"><i class="bx bx-fingerprint"></i></div> -->
            <h4 class="title"><b>Product:</b> {{ product.product_name }}</h4>
            <h6 class="title"><b>Price:</b> &#8358;{{ product.price }}</h6>
            <!-- <h6 class="title">Username: {{product.username}}</h6> -->
            <!-- <h5 class="title"><b>Category:</b> {{ product.category }}</h5> -->
            <p class="description">
              {{ product.description }}
            </p>
          
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section><!-- End Why Us Section -->
{% endblock %}