{% extends "user_base.html" %}
{% block content %}

  <div class="container">
      {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
                  <p class="sent-message">{{ message }}</p>
              {% endfor %}
          {% endif %}
      {% endwith %}
      <div><p><a href="{{url_for('create', user_id=user_id)}}">Create Product</a></p></div>

      <table class="table table-striped">
          <thead class="text-info">
            <tr>
              <th>Product ID</th>
              <th>Name</th>
              <th>Category</th>
              <th>Price</th>
              <th>Description</th>
              <th>Image Url</th>
              <th>Update</th>
              <th>Delete</th>
            </tr>
          </thead>
          {% for post in posts %}
          <tbody>
              <tr>
                <td>{{ post.product_id }}</td>
                <td>{{ post.product_name }}</td>
                <td>{{ post.category }}</td>
                <td>{{ post.price }}</td>
                <td>{{ post.description }}</td>
                <td>{{ post.img_link }}</td>
                <td><a href="{{url_for('link_update', product_id=post.product_id)}}">Update</a></td>
                <td><a href="{{url_for('delete', product_id=post.product_id)}}">Delete</a></td>
              </tr>
            </tbody>
          {% endfor %}
      </table>
  </div>

{% endblock %}